{% set id = uniq() %}

<div id="alert-bar-{{ id }}" class="alert alert-bar{% if alert.dismissible %} alert-dismissible fade show{% endif %}" role="alert">
  <div class="alert-bar-content">{{ wysiwyg(alert.content, null, false) }}</div>
  {% if alert.dismissible %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% endif %}
</div>

{% if alert.dismissible %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  const alert = document.getElementById('alert-bar-{{ id }}');

  alert.addEventListener('close.bs.alert', () => {
    document.cookie = {{ alert.cookieString|js }};
  });
});
</script>
{% endif %}
